{{#if user}}
  {{#with user}}
  <div>
    <h1>{{name.firstName}} {{name.middleName}} {{name.lastName}}</h1>
    {{!-- How would I get the image to show --}}
    {{!-- <img src="#" alt="Photo of User"> --}}
    <p>Rank: {{rank}}</p>
    <p>Place of Birth: {{placeOfBirth}}</p>
    <p>Year Born: {{yearOfBirth}}</p>
    <p>Month Born In: {{monthOfBirth}}</p>
    <p>Day Born: {{dayOfBirth}}</p>
    <p>Gender: {{gender}}</p>
    <p>Marital Status: {{maritalStatus}}</p>
    <p>Serial Number: {{serialNumber}}</p>
  </div>
  <form action="/user/{{id}}/edit" method="Get">
    <input type="submit" value="Update User Profile">
  </form>
    <form action="/user/{{id}}?_method=DELETE" method="POST">
      <input type="submit" value="Delete This User">
    </form>
  {{/with}}
{{/if}}


