{{#if user}}
  <ul>
  {{#with user}}
    <h1>{{name.firstName}} {{name.middleName}} {{name.lastName}}</h1>
    {{!-- How would I get the image to show --}}
    {{!-- <img src="#" alt="Photo of User"> --}}
    <p>{{rank}}</p>
    <p>{{placeOfBirth}}</p>
    <p>{{yearOfBirth}}</p>
    <p>{{monthOfBirth}}</p>
    <p>{{dayOfBirth}}</p>
    <p>{{gender}}</p>
    <p>{{maritalStatus}}</p>
    <p>{{serialNumber}}</p>
    <form method="POST" action="/user/{{_id}}?_method=DELETE" >
      <input type="submit" value="Delete This User">
    </form>
  {{/with}}
  </ul>
{{/if}}


