{{#if MissionBrief}}
  {{#with MissionBrief}}
  <div>
    <h1>{{missionTitle}}</h1>
    <p>Mission Log: {{missionLog}}</p>
    <p>Mission Location:{{missionLocated.planetsVisited}}</p>
  </div>
  <form action="/missionBrief/{{id}}/edit" method="Get">
    <input type="submit" value="Update Mission Log">
  </form>
    <form action="/missionBrief/{{id}}?_method=DELETE" method="POST">
      <input type="submit" value="Delete This Mission Log">
    </form>
  {{/with}}
{{/if}}


