{{#if starship}}
  {{#with starship}}
  <div>
    <h1>{{name}}</h1>
    {{!-- <img src="{{photo}}" alt="Photo of starship {{name}}"> --}}
    <p>Registry Number: {{registry}}</p>
    <p>Status: {{status}}</p>
    <p>Date Commissioned: {{dateStatus}}</p>
    <p>Space Craft Class: {{spacecraftClass}}</p>
  </div>
 <form action="/starship/{{id}}/edit" method="Get">
    <input type="submit" value="Update User Profile">
  </form>
  <form action="/starship/{{id}}?_method=DELETE" method="POST">
    <input type="submit" value="Destory This Starship?!">
  </form>
  {{/with}}
{{/if}}


