<h1>Top Secert List of the Entire Space One Federation Fleet</h1>

{{#if starships}}
  <div>
  {{#each starships}}
    <h1><a href="/starship/{{id}}">{{name}}</a></h1>
    <p>Registry Number: {{registry}}</p>
    <p>Status: {{status}}</p>
    <p>Date Commissioned: {{dateStatus}}</p>
    <p>Space Craft Class: {{spacecraftClass}}</p>
  {{/each}}
  </div>
{{/if}}