<h1>Top Secert List of the Entire Space One Federation Fleet</h1>

{{#if starships}}
  <ul>
  {{#each starships}}
    <h1><a href="/starship/{{id}}">{{name}}</a></h1>
    <p>{{registry}}</p>
    <p>{{status}}</p>
    <p>{{dateStatus}}</p>
    <p>{{spacecraftClass}}</p>
  {{/each}}
  </ul>
{{/if}}